node_modules

userService/node_modules

materialUiBackend/node_modules
reactUi/node_modules
reactUserInterface/node_modules
uiBackend/node_modules

apiService/vendor
apiService/.idea

notificationService/vendor
notificationService/secrets

gmailWatchService/secrets
gmailWatchService/vendor

protos/vendor